# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#llvm specific
*.bc

# Binaries
*.out


#temp
mem-tracing/instrumentation/

